@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1, h2, h3, h4, h5, h6, p, a, li, ul, ol {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

html {
  cursor: none;
}
body {
    margin: 0;
    padding: 0;
    background-color: #434343;
    background-image:linear-gradient(#5480D3, #3256A7);
}

a, a:hover {
    cursor: none;
}

#cursor {
    position: absolute;
    border: 10px, solid white;
    border-radius: 100%;
    background-color: white;
}

#content {
    background-color: transparent;
    background-image: 
    linear-gradient(0deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
    linear-gradient(90deg, transparent 9%, 
            rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
            rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
            rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
            rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
            rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
    
  background-size:50px 50px;
}

#header {
    display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 10vw;
    margin-top: 1vh;
    margin-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 2vw;
    margin-top: 1vh;
}

#nav {
    color: white;
    font-size: 1.5vw;
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav a {
    text-decoration: none;
    font-size: 1.5vw;
    padding-inline: 3px;
}

#nav a:hover {
    text-decoration: underline;
}

#home {
    position: absolute;
    top: 10px;
    left: 10px;
    text-decoration: none;
    font-size: 1.5vw;
}

#home:hover {
    text-decoration: underline;
}

#page {
    max-width: 80vw;
    margin: auto;
    margin-top: 10vh;
}

.subheading {
    text-decoration: underline;
}

#formulas img {
    width: 100%;
    height: auto;
    margin-bottom: 4vh;
}